@reference "../../../index.css";

.section {
	@apply p-20 h-screen max-h-[800px];
}

.hero-section {
	@apply flex gap-2;
}

.hero-section .left {
	@apply flex flex-col justify-center pl-8 gap-2 h-full flex-1;
}

.hero-section .right {
	@apply flex-1 relative overflow-visible;

	/* width: clamp(100px, min(50dvh, 50dvw), 500px); */
	/* aspect-ratio: 1; */
}

.hero-section .right .pattern {
	@apply absolute inset-0;
	border-radius: 100% 30% 60% 70% / 50% 40% 70% 70%;
	background: linear-gradient(
		45deg,
		oklch(0 0.3 300) 10%,
		oklch(0.15 0.3 300) 50%
	);
	background: url("../../../assets/circuit-board.svg");
	animation: blob-rotation 4s infinite alternate;
}

.hero-section .right .headshot {
	@apply w-96 z-20 absolute m-auto inset-0;
	clip-path: circle(50%);
}

.about-section {
	@apply bg-alternate flex flex-col gap-8;
}

.projects-section {
	@apply max-h-max h-max flex flex-col gap-8;
}

.skills-section {
}

.experience-section {
	@apply bg-alternate max-h-max h-max flex flex-col gap-4;
}

.contact-section {
	@apply bg-alternate;
}

.contact-section form input {
	@apply w-[60%] mt-4 bg-transparent border-0 border-b px-4 py-5 font-bold text-lg;
	transition: 0.2s ease-in-out;
}
.contact-section form textarea {
	@apply w-[96%] mt-4 bg-transparent border-0 border-b px-4 py-5 font-bold text-lg;
	resize: none;
	transition: 0.2s ease-in-out;
}
.contact-section form input:focus {
	@apply border-b-4 border-b-frame dark:border-b-gray-700;
	outline: none;
}
.contact-section form textarea:focus {
	@apply border-b-4 border-b-frame dark:border-b-gray-700;
	outline: none;
}

@keyframes blob-rotation {
	0% {
		border-radius: 60% 40% 70% 30% / 50% 60% 40% 50%;
	}

	25% {
		border-radius: 50% 60% 30% 70% / 60% 40% 70% 50%;
	}

	50% {
		border-radius: 70% 30% 60% 40% / 50% 70% 30% 60%;
	}

	75% {
		border-radius: 40% 70% 50% 60% / 60% 50% 70% 40%;
	}

	100% {
		border-radius: 60% 40% 70% 30% / 50% 60% 40% 50%;
	}
}
